$primary-gray: hsl(270, 3%, 87%);
$dark-violet: hsl(278, 68%, 11%);

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@mixin fonts($font_input: font) {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 14px;
}

@mixin display($display_config: display) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  #corpo1 {
    width: 538px;
    height: 100vh;
    @include display($display_config: display);
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-image: url("./interactive-card-details-form-main/images/bg-main-desktop.png");
    background-size: cover;
    border-radius: 0px;
    gap: 45px;
    position: relative;

    #background_img {
      width: 100%;
    }

    #front_card {
      position: absolute;
      margin-left: 100px;
      width: 448px;
      height: 246px;
      @include display($display_config: display);
      align-items: flex-start;
      flex-direction: column;
      background-image: url("./interactive-card-details-form-main/images/bg-card-front.png");
      background-repeat: none;
      bottom: 53%;
      left: 20%;
      gap: 10px;

      img {
        margin-left: 8%;
        margin-top: 20px;
      }

      #number-cont {
        height: 94px;
        width: 100%;
        @include display($display_config: display);
        align-items: flex-end;
        justify-content: center;

        #inNumber {
          width: 365px;
          height: 32px;
          @include fonts($font_input: font);
          background-color: transparent;
          font-size: 32px;
          color: #fff;
        }

      }

      #front-bottom {
        height: 76px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 44px;

        #inData {
          height: 20px;
          font-size: 18px;
          width: 60px;
          @include fonts($font_input: font);
          background-color: transparent;
          color: #fff;

          text-align: center;
          @include display($display_config: display);

        }

        #inNome {
          height: 20px;
          font-size: 18px;
          width: auto;
          @include fonts($font_input: font);
          @include display($display_config: display);
          justify-content: flex-start;
          background-color: transparent;
          color: #fff;
          text-transform: uppercase;

        }
      }
    }

    #back_card {
      position: absolute;
      width: 448px;
      height: 246px;
      background-image: url("./interactive-card-details-form-main/images/bg-card-back.png");
      background-repeat: none;
      top: 53%;
      left: 50%;
      @include display($display_config: display);

      #card-cvc {
        height: 100%;
        width: 349px;
        @include display($display_config: display);
        justify-content: flex-end;

        #cvc {
          @include fonts($font_input: font);
          color: #fff;
          width: 34px;
          height: 20px;
          background-color: transparent;

          border: none;
        }
      }
    }
  }

  #corpo2 {
    width: 65%;
    height: 100%;
    background-color: #fff;
    @include display($display_config: display);

    form {
      width: 362px;
      height: 400px;
      @include display($display_config: display);
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;

      @include fonts($font_input: font);

      label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65px;
      }

      .campos {
        @include fonts($font_input: font);
        font-size: 18px;
        color: #000;
        @include display($display_config: display);
        border: solid 1px $primary-gray;
        width: 100%;
        height: 2.5rem;
        outline: none;
      }

      .nameNum {
        width: 23.7rem;
        padding: 0 10px;
      }

      .alertJs {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        .alertNum {
          height: auto;
          height: auto;
          width: auto;
          font-size: 10px;
          color: red;
        }

        #alertNome{
          height: auto;
          height: auto;
          width: auto;
          font-size: 10px;
          color: red;
        }
      }

      .dateCvc {
        display: flex;
        width: 100%;
        height: 90px;
        gap: 1px;

        label {
          width: 45%;
          height: 65px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          #dateCont {
            width: auto;
            height: 80px;
            display: flex;
            gap: 10px;

            .alertJs {
              height: 80px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 5px;

              .alert {
                height: auto;
                width: auto;
                font-size: 10px;
                color: red;
              }

              .alertY {
                height: auto;
                width: auto;
                font-size: 10px;
                color: red;
              }
            }

            /*     #mes{
              transition: all 300ms;
            } */

            .contDate {
              display: flex;
              flex-direction: column;
              text-align: center;
              color: red;
              gap: 5px;
            }

            .date {
              width: 3.4rem;
              height: 2.5rem;
              padding: 0 10px;
            }
          }
        }

        #contCvc {
          height: 95px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .alertJs {
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            label {
              height: auto;
            }

            .alertCvc {
              height: auto;
              width: auto;
              font-size: 10px;
              color: red;
            }
          }

        }

        .cvc {
          width: 12.4rem;
          height: 2.5rem;
          padding: 0 10px;
        }
      }

      .btn {
        background-color: $dark-violet;
        padding: 25px 0;
        @include display($display_config: display);
        border: none;
        color: #fff;
      }
    }
  }
}