@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
body #corpo1 {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-image: url("/interactive-card-details-form-main/images/bg-main-desktop.png");
  background-size: cover;
  border-radius: 0px;
  gap: 45px;
  position: relative;
}
body #corpo1 #background_img {
  width: 100%;
}
body #corpo1 #front_card {
  position: absolute;
  margin-left: 100px;
  width: 448px;
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("/interactive-card-details-form-main/images/bg-card-front.png");
  background-repeat: none;
  bottom: 53%;
  left: 20%;
  gap: 10px;
}
body #corpo1 #front_card img {
  margin-left: 8%;
  margin-top: 20px;
}
body #corpo1 #front_card #number-cont {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  align-items: flex-end;
  justify-content: center;
}
body #corpo1 #front_card #number-cont #inNumber {
  width: 365px;
  height: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  background-color: transparent;
  font-size: 32px;
  color: #fff;
}
body #corpo1 #front_card #front-bottom {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 44px;
}
body #corpo1 #front_card #front-bottom #inData {
  height: 20px;
  font-size: 18px;
  width: 60px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
body #corpo1 #front_card #front-bottom #inNome {
  height: 20px;
  font-size: 18px;
  width: auto;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  justify-content: flex-start;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
}
body #corpo1 #back_card {
  position: absolute;
  width: 448px;
  height: 246px;
  background-image: url("/interactive-card-details-form-main/images/bg-card-back.png");
  background-repeat: none;
  top: 53%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
body #corpo1 #back_card #card-cvc {
  height: 100%;
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  justify-content: flex-end;
}
body #corpo1 #back_card #card-cvc #cvc {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  color: #fff;
  width: 34px;
  height: 20px;
  background-color: transparent;
  border: none;
}
body #corpo2 {
  width: 65%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
body #corpo2 form {
  width: 40%;
  height: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 14px;
}
body #corpo2 form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
}
body #corpo2 form .campos {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 14px;
  font-size: 18px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: solid 1px hsl(270, 3%, 87%);
  width: 100%;
  height: 2.5rem;
  outline: none;
}
body #corpo2 form .nameNum {
  width: 23.7rem;
  padding: 0 10px;
}
body #corpo2 form .alertJs {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
body #corpo2 form .alertJs .alertNum {
  height: auto;
  height: auto;
  width: auto;
  font-size: 10px;
  color: red;
}
body #corpo2 form .alertJs #alertNome {
  height: auto;
  height: auto;
  width: auto;
  font-size: 10px;
  color: red;
}
body #corpo2 form .dateCvc {
  display: flex;
  width: 100%;
  height: 90px;
  gap: 1px;
}
body #corpo2 form .dateCvc label {
  width: 45%;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #corpo2 form .dateCvc label #dateCont {
  width: auto;
  height: 80px;
  display: flex;
  gap: 10px;
  /*     #mes{
    transition: all 300ms;
  } */
}
body #corpo2 form .dateCvc label #dateCont .alertJs {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
body #corpo2 form .dateCvc label #dateCont .alertJs .alert {
  height: auto;
  width: auto;
  font-size: 10px;
  color: red;
}
body #corpo2 form .dateCvc label #dateCont .alertJs .alertY {
  height: auto;
  width: auto;
  font-size: 10px;
  color: red;
}
body #corpo2 form .dateCvc label #dateCont .contDate {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: red;
  gap: 5px;
}
body #corpo2 form .dateCvc label #dateCont .date {
  width: 3.4rem;
  height: 2.5rem;
  padding: 0 10px;
}
body #corpo2 form .dateCvc #contCvc {
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #corpo2 form .dateCvc #contCvc .alertJs {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
body #corpo2 form .dateCvc #contCvc .alertJs label {
  height: auto;
}
body #corpo2 form .dateCvc #contCvc .alertJs .alertCvc {
  height: auto;
  width: auto;
  font-size: 10px;
  color: red;
}
body #corpo2 form .dateCvc .cvc {
  width: 12.4rem;
  height: 2.5rem;
  padding: 0 10px;
}
body #corpo2 form .btn {
  background-color: hsl(278, 68%, 11%);
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  color: #fff;
}/*# sourceMappingURL=style.css.map */