$primary-gray: hsl(270, 3%, 87%);

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@mixin fonts($font_input: font) {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 18px;
}

@mixin display($display_config: display) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  #corpo1 {
    width: 35%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #corpo2 {
    width: 65%;
    height: 100%;
    background-color: #fff;
    @include display($display_config: display);
    form {
      width: 40%;
      height: 60%;
      @include display($display_config: display);
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;
      background-color: rgb(243, 0, 0);
      @include fonts($font_input: font);
      .campos {
        @include fonts($font_input: font);
        color: $primary-gray;
        @include display($display_config: display);
        border: solid 1px $primary-gray;
        width: 100%;
        height: 2.5rem;
      }
      .nameNum {
        width: 23.7rem;
        padding: 0 10px;
      }
      .dateCvc {
        display: flex;
        width: 100%;
        height: 70px;
        gap: 1px;
        label {
          width: 45%;
          height: 100px;
          display: flex;
          flex-direction: column;
          #dateCont {
            width: auto;
            display: flex;
            gap: 10px;
            .date {
              width: 3.4rem;
              height: 2.5rem;
              padding: 0 10px;
            }
          }
        }
        .cvc {
          width: 12.4rem;
          height: 2.5rem;
          padding: 0 10px;
        }
      }
    }
  }
}
